
*{

  margin: 0; padding: 0;
  box-sizing: border-box;
  /* font-family: 'Exo 2', sans-serif; */
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
  }

  body{
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 100% 100%;
    
  }

/* header */

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color:#003F91;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  padding: 10px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  
}


header a img{
  background-color: #ffffff;
  border-radius: .5rem;
 
 }
 

header .navbar ul{
  list-style: none;
  
}

header .navbar ul li{
  position: relative;
  float: left;
  
}

header .navbar ul li a{
  font-size: 23px;
  padding: 20px;
  color: #fffdfd;
  display: block;

}

header .navbar ul li a:hover{
  background:#a3a7ab;
  color: #ffffff;
}

header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background:#003F91;

  /* dito nagtago */
  display: none;
}

header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.1);
  
}

header .navbar ul li ul li ul{
  left: 200px;
  top: 0;
}

header .navbar ul li ul li #ul{
  left: -200px;
  top: 0px;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}


/* body */
  
.intro, .box{
  margin-left: 6rem;
  margin-right: 7rem;
  color: rgb(219, 216, 216);
}

.intro h1{
  margin-top: 8rem;
  font-size: 2.5rem;
}
.intro h5{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.1rem;
}

.intro .parag{
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: justify;
}


table{
  background-color: rgba(9, 9, 10, 0.902);
  border-radius: 1rem;
}

.box{
  display: flex;
  font-size: 2rem;
  margin-bottom: 4rem;
}

#th{
font-size: 1.5rem;
padding-right: 2rem;
padding-left: 2rem;
background-color: #06326b;
}

#td, #td1{
text-align: center;
  font-size: 1.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

#td:hover,#td1:hover{
  background-color: #666a70f7;
  cursor: pointer;
}
#td1{
  background-color: #22579c;
}
table, th, td {
  border: 1px solid rgb(178, 174, 174);
  border-collapse: collapse;
  color: rgb(206, 202, 202);
}
th, td {
  background-color: #0b4694f7;
}

#caption{
  font-size: 1.2rem;
  font-weight: bolder;
}

.box p{
  margin-top: 5rem;
  font-size: 1.7rem;
  text-align: justify;
  line-height: 4rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
.box table{
  margin-right: 4rem;
  margin-left: 2rem;
}
#box2{
  margin-right: 17rem;
}

.box-container{
  margin-right: 3rem;
}


.summary{
  color: rgb(206, 202, 202);
  margin: 4rem;
  background-color: #22579c;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgb(11, 11, 11);
}
.summary h3{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  padding-top: 2rem;
}
.summary p{
  font-size: 1.8rem;
  line-height: 1.8rem;
   margin-right: 4rem;
   margin-left: 4rem;
  padding-bottom: 4rem;
}



/* footer  */

.footer-container,.text{
  background-color:#003F91;

  color: #fff;
}
.footer-container{
padding: 50px 0;
font-size: 26px;


}

 .text{
    padding: 20px 0;
    font-size: 14px;
    }

  .footer-container .f-container{
  display: flex;
 
  }

  .footer-container .f-container .footer div .parag{
margin-right: 3rem;
margin-left: 3rem;
line-height: 2.5rem;
  }
  .footer-container .f-container #footer1{
    margin-left:2rem;

  }

  .footer-container .f-container #footer3,  .footer-container .f-container #footer4{
    margin-top: 2rem;
    padding: 1.7rem;
    margin-right: 2rem;
    margin-left: 2rem;
     text-align: justify;
      }
      .footer-container .f-container #footer1 p a, .footer-container .f-container #footer3 p a,  .footer-container .f-container #footer4 p a{
    color: white;
      }
       
.footer-container .f-container #footer3 p a:hover,  .footer-container .f-container #footer4 p a:hover{
color:black;
 }


 .footer-container .f-container #footer4{
    margin-right: 6rem;
 }
 
  p {
    margin-bottom: 20px;
    font-size:1.3rem;
    text-align: justify;
  }